body {
    font-family: Arial, sans-serif;
    background-color: #aa9af3;
    background-image: url(imagens/imagemfundo.jpg);
    background-size: 1000px;
    background-repeat: no-repeat; 
    margin: 20px;
    text-align: center;
    margin-top: 10%;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6f00af;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6407fa;
}

#mensagem {
    color: #7313f1;
    font-weight: bold;
}

#textoAlterado {
    color: #555;
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 5px solid rgb(108, 0, 122);
    padding: 10px;
    margin: 5px;
    margin-left: 72%;

  }
  /* Estilizando o botão */
.meuBotao {
    background-color: #7000f0; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remove a borda */
    cursor: pointer; /* Cursor ao passar por cima */
}

/* Estilizando o botão quando passa o mouse por cima */
.meuBotao:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse por cima */
}
