body {
    font-family: Arial, sans-serif;
    background-color: #aa9af3;
    margin: 20px;
    text-align: center;
    margin-top: 10%;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6f00af;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #6407fa;
}

#mensagem {
    color: #7313f1;
    font-weight: bold;
}

#textoAlterado {
    color: #555;
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

